<main [attr.data-bs-theme]="theme" class="vh-100 bg-dark-subtle">
  <div class="container-md">
    <nav class="bg-primary py-2 px-3 text-white d-flex justify-content-between">
      <h1 class="h5 m-0 text-light"> {{ title | titlecase }} </h1>
      <div class="d-flex flex-row">
        <button type="button" class="btn btn-light" (click)="onSwitch()">
          <fa-icon [icon]="lightIconMode" *ngIf="theme === 'light'" />
          <fa-icon [icon]="darkIconMode" *ngIf="theme === 'dark'" />
          <span class="visually-hidden">{{ theme }}</span>
        </button>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-info mx-2 align-middle text-center" id="dropdownBasic1"
            ngbDropdownToggle>
            All
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="filterServers(status.ALL)">
              {{ status.ALL | titlecase | removeUnderscore: ' ' }}
            </button>
            <button ngbDropdownItem (click)="filterServers(status.SERVER_UP)">
              {{ status.SERVER_UP | titlecase | removeUnderscore: ' ' }}
            </button>
            <button ngbDropdownItem (click)="filterServers(status.SERVER_DOWN)">
              {{ status.SERVER_DOWN | titlecase | removeUnderscore: ' ' }}
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-success mx-2" (click)="open(content)">
          <fa-icon [icon]="plusIcon" class="icon-sm" /> New server
        </button>
        <button type="button" class="btn btn-light mx-2" (click)="printReport()">
          Print report
        </button>
      </div>
    </nav>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Register server</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ngModel name="name" required>
          </div>
          <div class="form-group">
            <label for="ipAddress">IP Address</label>
            <input type="text" class="form-control" id="ipAddress" ngModel name="ipAddress" [inputMask]="ipAddressMask"
              placeholder="_._._._" required>
          </div>
          <div class="row g-2">
            <div class="col-md">
              <div class="form-group">
                <label for="memory">Memory</label>
                <input type="text" class="form-control" id="memory" ngModel name="memory" required>
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" ngModel name="type" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select (ngModelChange)="filterServers($event)" [ngModel]="status.SERVER_DOWN" name="status"
              class="form-select" id="status" required>
              <option [value]="status.SERVER_UP"> {{ status.SERVER_UP | removeUnderscore: ' ' | titlecase }} </option>
              <option [value]="status.SERVER_DOWN"> {{ status.SERVER_DOWN | removeUnderscore: ' ' | titlecase }}
              </option>
            </select>
          </div>
          <button type='submit' class='btn btn-primary mt-3'
            [disabled]="serverForm.invalid || (isSavingServer$ | async)">
            <ng-container *ngIf="isSavingServer$ | async">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Saving</span>
            </ng-container>
            <span *ngIf="!(isSavingServer$ | async)">Save</span>
          </button>
        </form>
      </div>
    </ng-template>

    <ng-container *ngIf="(appState$ | async) as state" [ngSwitch]="state.dataState">
      <div *ngSwitchCase="dataState.LOADING" class="container-full text-center my-3">
        <div class="spinner-border" role="status"></div>
      </div>

      <ng-container *ngSwitchCase="dataState.ERROR">
        <ngb-toast class="bg-danger position-absolute bottom-0 end-0 m-2 text-light" *ngIf="showErrorToast"
          [autohide]="true" (hidden)="showErrorToast=false">
          {{ state.appData?.message ?? state.error }}
        </ngb-toast>
      </ng-container>

      <ng-container *ngSwitchCase="dataState.SUCCESS">
        <div class="table-responsive">
          <table class="table table-striped" [id]="tableId">
            <thead>
              <tr>
                <th scope="col" *ngFor="let column of displayedColumns"> {{ column | titlecase }} </th>
              </tr>
            </thead>
            <tbody *ngFor="let server of state.appData.data.servers">
              <tr>
                <td> <img [src]="server.imageUrl" [alt]="server.name" class="server-img"> </td>
                <td> {{ server.ipAddress }} </td>
                <td> {{ server.name }} </td>
                <td> {{ server.memory }} </td>
                <td> {{ server.type }} </td>
                <td>
                  <span class="badge" [ngClass]="[server.status === status.SERVER_UP ? 'bg-success' : 'bg-danger']">
                    {{ server.status | removeUnderscore: ' ' | titlecase }}
                  </span>
                </td>
                <td>
                  <button type="button" class="btn btn-light" (click)="pingServer(server.ipAddress)">
                    <fa-icon *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress"
                      [icon]="serverIcon" />
                    <div *ngIf="(filterStatus$ | async) === server.ipAddress" class="spinner-border spinner-border-sm"
                      role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="deleteServer(server)">
                    <fa-icon [icon]="deleteIcon" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </div>
</main>

<notifier-container></notifier-container>
