<div class="modal-header">
  <h4 class="modal-title">Profile update</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magni quisquam totam repellendus, error ipsam
    iste, exercitationem mollitia recusandae reprehenderit ipsum ullam aperiam facere officia praesentium aliquam
    sequi distinctio accusamus.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
</div>
